<% if !flash[:notice].blank? %>
  <div class="alert alert-success" role="alert", style="margin-top:10px">
    <p class="Notice!"><%= flash[:notice] %></p>
  </div>
<% end %>
<p class="Alert alert-danger"><%= flash[:alert] %></p>
