  <div class="container", style="margin-top:10px">

<h1>Editing Client</h1>

<%= link_to 'Show', @client, class: 'btn btn-info', style:'margin-left:1150px'  %> |
<%= link_to 'Back', clients_path, class: 'btn btn-success' %>

<%= render 'form' %>

</div>
