<div class="container", style="margin-top:10px">
  <h1>Editing Project</h1>

  <%= link_to 'Show', manager_project_path(@project), class: "btn btn-info", style: 'margin-left:1150px' %> |
  <%= link_to 'Back', manager_projects_path, class: 'btn btn-success' %>

  <%= render 'form' %>
</div>
