<div class="container", style="margin-top:10px">
  <h1>Editing Time Log</h1>

  <%= link_to 'Show', member_time_log_path(@log), class: "btn btn-info", style: 'margin-left:1150px' %> |
  <%= link_to 'Back', member_time_logs_path, class: 'btn btn-success' %>

  <%= render 'form' %>
</div>
