<div class="container", style="margin-top:10px">
  <h1>Editing User</h1>

  <%= link_to 'Show', admin_user_path, class: 'btn btn-info', style:'margin-left:1150px'  %> |
  <%= link_to 'Back', admin_users_path, class: 'btn btn-success' %>

  <%= render 'form' %>
</div>
